ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: darkslategray;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.search-input {
  flex: 2;
}

.menu-container {
  max-width: 10%;
}

.menu-button {
  width: 30px;
  height: 30px;
  flex: 1;
}

.user-pic {
  background-color: crimson;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  flex: 1;
}

.user-pic:hover {
  cursor: pointer;
}

.menu-button:hover {
  cursor: pointer; 
}
